html, body {
	height: 100%;
	margin: 0;
	font: 1.25em/1.333333333 "Open Sans Condensed", monospace;
	background: #cdc7a1;
	color: #434f54;
	text-transform: uppercase;
}
main {
	margin: 1em auto 0;
}

a {
	color: inherit;
}

h1 {
	font-size: 4em;
	line-height: 1em;
	font-weight: 100;
	margin-top: 0.25em;
}

.about {
	margin-bottom: 4.5em;
}
.elsewhere {
	list-style: none;
	padding: 0;
}
.elsewhere li {
	display: inline;
}
.elsewhere [data-icon] {
	display: inline-block;
	margin: 0 0.25em;
	font-size: 1.5em;
	text-decoration: none;
}

h1, .about, .elsewhere {
	width: 90%;
	max-width: 32rem;
	margin-left: auto;
	margin-right: auto;
}

h1, .about, .elsewhere li {
	-webkit-filter: blur(1px);
	filter: blur(1px);
	transition: all 1s ease-out;
}
h1:hover, .about:hover, .elsewhere li:hover,
h1:focus, .about:focus, .elsewhere li:focus {
	-webkit-filter: blur(0);
	filter: blur(0);
}

@media screen and (min-width: 500px) {
	main {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		margin: 0 auto;
	}
}